body {
  margin: 0;
  padding: 0;
}

.contenedor-noticias {
  display: flex;
  width: 100%;
}

section {
  background-color: rgb(255, 255, 255);
  width: 80%;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.slideshow {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  animation: slide 20s infinite alternate;
}

.slide:nth-child(1) {
  animation-delay: 0s; /* Inicia en el segundo 0 */
}

.slide:nth-child(2) {
  animation-delay: 5s; /* Inicia en el segundo 5 */
}

.slide:nth-child(3) {
  animation-delay: 10s; /* Inicia en el segundo 10 */
}

.slide:nth-child(4) {
  animation-delay: 15s; /* Inicia en el segundo 15 */
}

.slide:nth-child(5) {
  animation-delay: 20s; /* Inicia en el segundo 20 */
}

.slide:nth-child(6) {
  animation-delay: 25s; /* Inicia en el segundo 25 */
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

aside {
  background-color: white;
  width: 20%;
}

.cuadro-busqueda {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0;
}

.cuadro-busqueda button {
  background-color: gray;
}

.cuadro-busqueda button:hover {
  background-color: aqua;
}
.cuadro-busqueda img {
  width: 35px;
}

.categorias-noticias {
  background-color: white;
  color: rgb(3, 109, 180);
  padding: 5px;
  padding-left: 20px;
}

.categorias-noticias ul li {
  list-style: square;
  color: rgb(3, 109, 180);
}

.categorias-noticias a {
  text-decoration: none;
  color: rgb(3, 109, 180);
}

.encabezado {
  width: 100%;
  text-align: center;
}
.encabezado h2{
  color: rgb(3, 109, 180);
  font-size: 3em;
}
.noticia {
  width: 30%;
  height: 450px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.514);
}

.noticia:hover{
  transform: scale(1.1);
}

.noticia a{
  text-decoration: none;
  color: rgb(3, 109, 180);
}

.imagen-noticia {
  width: 100%;
  height: 55%;
  overflow: hidden;
}

.cuerpo-noticia {
  font-size: 0.8em;
}

.cuerpo-noticia h3{
  color: rgb(3, 109, 180);
  padding: 10px 0;
}

.cuerpo-noticia h4, h5{
  color: grey;
  padding: 5px 0;
}